JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.sort.Comparator";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionStream$3";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.callback.CallBack";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionStream$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.CharacterGrid$BKeyListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.demonstration.DemoFrame$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.Editor$BKeyListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphInnerPanel$FEActionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphFrame$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.gui.TTNumStr";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.curves.BaseCurve";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.cache.FEFontCache";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.FontSelectorRip";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphOuterPanel";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphInnerPanel$BKeyListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphOuterPanel$FEActionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.sort.QuickSort";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FEGlyph$3";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.paths.ExecutorOnFEPath";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.resources.FileLoader";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FEGlyph$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.DefaultFrameDisplayOptions";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphOuterPanel$BMouseListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.springs.Spring";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.gui.TTChoice";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.sliders.Sliders$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.demonstration.DemoPanel$BKeyListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.CharacterGrid$BMouseListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.demonstration.DemoPanel";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.ChooseWidth$FEActionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.options.Coords";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.hinter.Hinter$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.paths.FEPathList";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.springs.SpringManager";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.curves.StraightLine";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.ResolutionSelector";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FontSave";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.demonstration.DemoFrame";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$7";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.Instruction";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$5";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$3";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphInnerPanel$BMouseListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphFrame";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "RootClass";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphOuterPanel$BMouseMotionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.ChooseWidth$FEItemListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.Editor$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FontLoad";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FEFont";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.GlyphArray";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FontRip$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.graphics.TTImage";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.general.Utils";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionStream$2";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.sliders.SliderManagerBase";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.cache.CachedGlyph";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.hinter.HintingGroup";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.points.FEPointList";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.paths.FEPath";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.log.Log";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.cache.FEGlyphCache";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.FE";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.graphics.WideLine";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphInnerPanel";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.resources.ZipLoader";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.applet.TTAppletFrame$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.resources.ResourceLoader";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.sliders.SliderBase";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.CharacterGrid$BMouseMotionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.curves.CubicBezier";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.random.JUR";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.ResolutionSelector$FEActionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.sliders.SliderManagerBase$1";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FEGlyph$2";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.options.CoordsEditor";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.CharacterGrid";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphOuterPanel$BKeyListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.FEFontRenderer";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FEGlyph";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.points.FEPoint";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.ChooseWidth";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.font.FontRip";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.graphics.ImageProcessor";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.QualityChoice";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphInnerPanel$BMouseMotionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.options.GlyphDisplayOptions";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.hinter.Passer";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.frame.GlyphOuterPanel$FEItemListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.sliders.Sliders";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionStream";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.hinter.Hinter";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$8";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$6";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$4";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.elements.curves.QuadraticBezier";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.instructions.InstructionArray$2";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.cache.FEDisplayOptionsCache";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.utilities.applet.TTAppletFrame";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.Editor$FEActionListener";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.Editor";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.CharacterInGrid";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
JadeEntry(
	ClassLocation = Location(
		ClassPathElement = "C:\Documents\Java\FontEditor\bin";
		ClassName = "org.fonteditor.editor.grid.FontSelectorLoad";
	);

	Actions = [RemoveDebugInfo(), CompressConstantPool()];
)
